.ui.menu {
    border: none !important;
    border-radius: none;
}

.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.divided.grid:not([class*="vertically divided"])>.row>.column {
    box-shadow: none !important;
}


h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 20px !important;
}